<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <h1>Минимальное значение: <span th:text="${min}"> min</span></h1>
    <h1>Максимальное значение: <span th:text="${max}"> max</span></h1>
    <h1>Минимальное дефолтное значение: <span th:text="${minDefault}"> minDefault</span></h1>
    <h1>Максимальное дефолтное значение: <span th:text="${maxDefault}"> maxDefault</span></h1>
    <h1>Случайное число: <span th:text="${number}"> number</span></h1>
  </body>
</html>